.textInputWrapper {
  position: relative;
  width: 220px;
  margin: 12px 5px;
}

.textInputWrapper .textInput {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.3);
  max-height: 36px;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: background-color;
  color: #000000;
  font-size: 14px;
  padding: 12px;
  width: 100%;
}
